@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-size: 18px;
	background-color: $mainBg;
	font-family: "Outfit", sans-serif;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	color: $softBlue;
}
